{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <div class="container">

    <h1>Task index</h1>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('task_index') }}">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.query.get('status') === "IN_PROGRESS" ? 'active' : ""  }}" href="{{ path('task_index', {status: "IN_PROGRESS" })}}">To Do</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.query.get('status') === "COMPLETED" ? 'active' : ""  }}" href="{{ path('task_index', {status: "COMPLETED" })}}">Completed</a>
            </li>
        </ul>

    <section>
        <div>
        <a class="btn btn-primary" href="{{ path('task_new') }}">Create new Task</a>
        </div>
        <div class="d-flex flex-wrap gap-5">
            {% for task in tasks %}
                {{ include('partials/_card.html.twig', {'task': task}) }}
            {% else %}
                <p> no task yet!</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
